<h1>Example App: Home</h1>

<table class="table table-bordered">

	<thead>

	{{#each wordArray}}
		<td>{{orig}}</td>
	{{/each}}

	</thead>

	<tbody>
	{{#each wordArray}}
		<td>{{trans}}</td>
	{{/each}}
	</tbody>

</table>