<h1>Example App: Home</h1>


<div class="row">
	<div class="col-md-8">
		<form style="padding-bottom: 10px;" id="formTest">
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

			<br>
			<button class="btn btn-default">Submit</button>

		</form>
	</div>

	<div class="col-md-4">
		<div id="outputText" class="testWrap">
			Please enter text...
		</div>
	</div>
</div>


<table class="table table-bordered" id="test">

	<thead>

	{{#each wordArray}}
		<td>{{orig}}</td>
	{{/each}}

	</thead>

	<tbody>
	{{#each wordArray}}
		<td>{{trans}}</td>
	{{/each}}
	</tbody>

</table>


<script>

	$(document).ready(function () {

		$('[data-toggle="tooltip"]').tooltip();

		$("#formTest").on('submit', function (e) {
			e.preventDefault();
			console.log(window.location.origin + '/send');


			var formData = {
				'name': $('#exampleFormControlTextarea1').val()
			};
			console.log(formData);

			$.ajax({
				url: window.location.origin + '/translate',
				type: "POST",
				data: formData,
				success: function (data) {
					console.log(data);
					$('#outputText').html('');
					for (var i = 0; i < data['wordArray'].length; i++) {
						// index, orig, trans
						var word = data['wordArray'][i];
						var addition = "<a data-toggle='tooltip' class='tool' title='" + word['trans'] + "'>" + word['orig'] +  " </a>";
						console.log('add: ' + addition);
						$('#outputText').append($.parseHTML(addition));
						$('[data-toggle="tooltip"]').tooltip();
					}
				},
				error: function (jXHR, textStatus, errorThrown) {
					alert(errorThrown);
				}
			});
		});

		$('#outputText').on('click', function () {

			var text = "";
			if (window.getSelection) {
				text = window.getSelection().toString();
			} else if (document.selection && document.selection.type != "Control") {
				text = document.selection.createRange().text;
			}

			var data = {
				name: text
			}

			$.ajax({
				url: window.location.origin + '/send',
				type: "POST",
				data: data,
				success: function (data) {
					console.log(data);
				},
				error: function (jXHR, textStatus, errorThrown) {
					alert(errorThrown);
				}
			});


		});

	});


</script>